@import './base.css';

#app {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10rem;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--rose);
  transition: 0.4s;
  padding: 0.1rem;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--dark-rose);
  }
}